database/gallery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="immagine" >
	<xs:complexType>
		<xs:all>

			<xs:element name="nome" type="xs:string" />
			<xs:element name="alt" type="xs:string" />
			<xs:element name="title" type="xs:string" />
			<xs:element name="percorso" type="xs:string" />
			<xs:element name="categoria" type="xs:string" />

		</xs:all>
	</xs:complexType>
</xs:element>
</xs:schema>